# Environment variables
.env
.env.local
.env.*.local

# Virtual Environment
venv/
env/
ENV/
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Cookies
cookies.txt

# Logs
logs/

# Videoses
*_videos/